input[type="text"],
input[type="radio"] {
  pointer-events: none;
}

label {
  margin: 4px;
  margin-right: 16px;
  margin-left: 32px;
}

.info {
  display: flex;
  justify-content: center;
  width: calc(100% - 32px);
  padding: 16px;
}

table {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

#nullifyy {
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
}
#nullify {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
}
p {
  text-align: center;
}

a {
  opacity: 0.8;
  position: absolute;
  bottom: 16px;
  text-align: center;
  width: calc(100% - 8px);
}
